#Assets
ios/assets/src/assets


# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
.vscode/launch.json

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

ios/main.jsbundle
ios/main.jsbundle.meta

dist
dist-zip

/report/
/cypress/screenshots/
.deco/
.expo/
Workspace.code-workspace


ios/Pods

android/app/src/main/java/com/faceitchallenge


android/app/src/androidTest/java/com/faceitchallenge


android/app/.settings/org.eclipse.buildship.core.prefs
android/app/.project
android/app/.classpath
android/.settings/org.eclipse.buildship.core.prefs
android/.project
.prettierrc
.history
